name: Node.js CI

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js "14.x"
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - run: npm ci
      - run: export DISPLAY=:1.0
      - run: npm test
